*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
} 
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
body{
    background-color: black;
}
.header{
    width:100%;
    height:130px;
    background-color:black;
    color:white;
    display: flex;
    /* justify-content: space-between; */
    /* border: solid white; */
     /* gap:40%; */
}
.b1{
    width:20%;
    padding-top:40px;
    padding-left: 40px;
    font-size: 40px;
    font-family: "Fugaz One", sans-serif;
    font-weight: 700;
    /* border:solid white; */
}
.b2{
    width:80%;
     padding-top:50px;
        /* border:solid white; */

}
ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-weight: 400;
     gap:10px;
}
ul a {
    text-decoration: none;
    color:white;
}
li:hover{
    text-decoration: underline;

}
li{
    list-style-type: none;
            font-size: 25px;

}    
#but1{
    width:170px;
    height:40px;
    padding:50px;
    background-color: rgb(92, 96, 100);
    border-top: 0.2px solid white;
    filter: blur(0.3px);
    border-radius: 30px;
    padding: 2px;
}
#a1{
        text-decoration: none;
        color: white;
}

/* cild1  */
#child1{
    width:100%;
    height:auto;
    display: flex;
    color:white;
     /* border: solid white; */
    /* flex-wrap: wrap */
}
.c1_b1 {
    width:50%;
    height:auto;
    /* border:solid white; */
}
.c1_b1 h1{
    font-size: 30px;
}
.c1_b1 p{
    font-size: 50px;
    font-style: italic;
    /* font-weight:400px; */
}.c1_b1 #p2{
    padding-left:0px;
    font-size: 25px;
    font-style: normal;
    opacity: 0.5;
}
#child1 .c1_b1{
    /* width:100%; */
    /* border: solid white; */
    padding-left:5%;
    padding-top:5%;
}
#child1 h1,.child1 p,#child1 button{
    margin-top:20px;
}
#child1 button{
    width:30%;
    border-radius: 20px;
    height:50px;
    background-color: aqua;
    border: solid aqua;
}
#child1 a {
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-size: 20px;
}
#child1 .c1_b2{
       width:50%;
       /* border: solid white; */
}
.c1_b2{
    /* border:solid white; */
}
.c1_b2 img{
    height:500px;
    width:350px;
    border-radius: 30px;
    /* border-radius: 50%; */
    margin:10% 25%;
}

/* child2  */
aside{
    background-color: black;
    color: white;
    height:auto;
    /* border: solid red; */
    /* text-align: center; */
}
aside h2{
    margin:6% 0px;
    text-align: center;
    /* font-size: 35px; */
}
#about{
    font-size: 60px;
}
.all{
    /* border:solid greenyellow; */
     background-color: black;
    color:white;
       display: flex;
}

.hero{
 
    height:auto;
    width:100%;
    /* border:solid pink; */
  perspective: 100px;

}
.class h2{
   margin: auto;
   text-align: center;
   font-size: 30px;;
}
.left-content{
     display: flex;
     flex-direction:column;
     height:100%;
     width:50%;
     margin: 30px 30px;
     /* border:solid red; */

}

#first{
    height:100px;
    width:100px;
}
#second{
    height:200px;
    transform: rotatey(360deg);
    transition: 10s;
    animation-duration:10s ;
    animation-iteration-count: infinite;
    width:200px;
    animation-name: resh;
    margin-left:50px;;
}
@keyframes resh{
    0%{
        transform: rotatey(180deg);
    }
    50%{
        transform: rotatey(360deg);
    }
    100%{
        transform: rotatey(60deg);
    }
}
#third{
    height:100px;
    width:100px;
    margin-left: 80%;
    margin-top: 20px;;
}
.right{
    /* border:solid red; */
    height:auto;
}
.right-content{
    height:100%;
    width:100%;
    margin-top: 100px;
    /* border:solid red; */
}
.right h2{
    font-size: 45px;
    margin-right: 60%;
    margin-bottom: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.right p{
    font-size: 25px;
    /* width: */
    color:gray;
}


/* child2  */


/* child3  */
h3{
    color:white;
    display: flex;
    justify-content: center;
    font-size: 60px;
    }
/* h3:hover{
      text-decoration: underline;
} */
.child3{
    width:100%;
    height:1100px;
    /* border:solid greenyellow; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5%;
    padding-left:20%;
    padding-top:5%;

}
.c3_b{
    height:300px;
    width:250px;
    border:solid white;
    border-radius:15px;
}
.c3_b img{
    height:150px;
    width:150px;
    /* padding:10%; */
    margin:20%;
}
.c3_b button{
    width:120px;
    height:35px;
    margin-left:25%;
    font-size: large;
    color:white;
    border-radius: 20px;
    border: 0.5px solid white;
    background-color: rgb(70, 63, 141);
}

h4{
    color:white;
    font-size: 40px;
    margin:10% 45%;
}

/* child4  */
.project .contect{
    color:white;
}
article{
    background-color: black;
    color: aliceblue;
    height:500px;
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border:solid white; */
    /* text-align: center; */
}
article h2{
    font-size: 55px;
    margin: 7% 0px;
    text-align: center;
}
article h3{
    font-size: 25px;
    margin-bottom: 20px;
}

.first-project{
    display: flex;
}
.first-project img{
    height:200px;
    width:400px;
    margin:10px 5%;
    border-radius: 15px;
}
 .first-project .content p{
width:500px;
line-height: 1.6;
/* margin-left: 100px; */
margin-bottom: 10px;;
}
.project{
    margin-top: 30px;
}
article .content{
    margin-left: 15%;
    /* border:solid red; */
}
.project .first-project button{
    background-color: white;
    color:black;
    font-size: 15px;
}
.project .first-project button:hover{
  background-color: rgb(106, 106, 222);
  color:white;
  border:solid  rgb(106, 106, 222);
}
.project .first-project h3{
  text-decoration: none;
}



 /* child5 */
 #education{
    font-size: 60px;
    text-align: center;
    /* margin-left:10px; */
 }
 .child5{
    width:100%;
    height:auto;
    margin-top:10%;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 40px; */
    justify-content: space-evenly;
    /* padding-left:20%; */
    /* border:solid white; */
 }
 .child5 img{
    height:200px;
    width:200px;
 }
 .c5{
    width:200px;
    height:300px;
    /* border:solid red; */
    color:white;
    font-size: xx-large;
    position: relative;
    /* padding:0px 13%; */
 }
 /* .c3{
    margin-left:50%;
 } */
 #eclipse1{
    position:absolute;
    top:27%;
    left:37%;
 }
  #eclipse2{
    position:absolute;
    top:27%;
    left:37%;
 }
  #eclipse3{
    position:absolute;
    top:27%;
    left:37%;
 }
 #p2{
    padding:20px 35%;
 }
/* .child5 .b3{
    margin-left:50%;
} */


/* child6  */
.contact-overall{
height:100%;
width:100%;
margin-bottom: 50px;;
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
}
.contact-overall h2{
    text-align: center;
    color:white;
    font-size: 35px;
    margin: 20px 20px;

}
.contact{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    padding-left: 200px;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    /* gap:40%; */
   justify-content:space-around;
   /* border:solid red; */
}
.content button{
    color:white;
    background-color: black;
    /* border:1px solid white; */
    border-radius: 5px;
    padding:7px;
}
.contact .first-contact{
    display:flex;
    text-align: center;
    /* margin: auto;     */
    align-items: center;
    gap:30%;
}
.first-contact{
    margin-top: 10px;
    margin-bottom: 60px;
}
.first-contact img,.first-contact a{
    height:100px;
    width:100px;
    margin-top:10%;
}
.contact-overall h2{
    margin:6% 10px;
    font-size: 55px;
}








/* mediaqury  */

/* header  */

@media screen and (max-width:890px){
 .header{
    flex-direction: column;
    column-gap: 0px;
    row-gap: 0px;
 }
 .b1{
    width:100%;
    padding-top: 10px;
    /* height:100px; */
 }
 .b2{
    width:100%;
    padding-top: 20px;
 }


 #child1{
    flex-direction: column;
 }
 .c1_b1{
    width:100%;
 }
 .child1 .c1_b2{
    width:100%;
 }
}

/* child2  */
/* @media screen and (max-width:600px){
.overall{
    display:flex;
    flex-direction: column;
}
aside h2{
    font-size: 25px;
}
.right h2{
    font-size: 35px;
}
.right p{
  width:auto;
  font-size: 20px;
  padding:10px;
}
} */


/* child2  */
@media screen and (max-width:856px){
.all{
    flex-direction: column;
}
.left-content{
    width:100%;
}
.right{
    /* width:100%; */
    /* border: solid red; */
}
#first{
    margin-left:10%;
}
#second{
    margin-left:30%;
}

.right-content{
    padding:40px;
}
}

/* child3  */
@media screen and (max-width:647px){
.child3{
    height:2700px;
    /* border:solid white; */
     grid-template-columns: 1fr;
     /* justify-content: center; */
     /* align-items: center; */
     padding:20px 30%;
}
.child5{
    width:100%;
    flex-direction: column;
    padding:20px 37%;
    /* border:solid white; */
}

}

/* child4  */
@media screen and (max-width:757px){
    .first-project{
        flex-direction: column;
        width:100%;
        padding:10px 25%;
    }
    .content{
        width:100%;
    }

    /* child6  */
    .contact{
        justify-content: start;
        row-gap:10px;
        padding-right:10px;
    }
    .first-contact{
        align-items: start;
        /* border:solid red; */
    }

}
















